.availabilityStatusWrapper {
    position: absolute;
    bottom: -50px;
    left: -30px;
    transform: scale(1);
    opacity: 1;
    user-select: none;
    cursor: default;
    transition: filter 0.5s ease-out 0.5s, opacity 1s ease-out 0.5s;
    filter: blur(0px);
    transform: translate3d(0px, 0px, 0px);
}

.availabilityStatusWrapper.initializing {
    filter: blur(500px);
    opacity: 0;
}

.availabilityStatus {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 20px 35px 70px -10px rgb(0 0 0 / 56%);
    background-color: white;
}

@media only screen and (max-height: 900px) {
    .availabilityStatus {
        transform: scale(0.7);
    }
}

.availableText {
    background-color: var(--green);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

.inner.available > *:nth-child(1) {
    background-color: var(--green);
    color: white;
}

.inner.available > *:nth-child(2) {
    margin: 15px 0 10px 0;
    transform: rotate(-10deg);
}

.inner {
    text-align: center;
    color: var(--black);
    padding-bottom: 10px;
}

.inner > * {
    display: block;
}
.inner > *:nth-child(1) {
    text-transform: uppercase;
    padding: 10px;
    background-color: var(--red);
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.inner > *:nth-child(2) {
    padding: 10px 10px 5px 10px;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
}
.inner > *:nth-child(3) {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    opacity: 0.5;
}

.inner > *:nth-child(4) {
    text-transform: uppercase;
    font-size: 5px;
}
