.wrapper {
}

.inner {
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.list li {
    position: relative;
    flex-basis: 100%;
    padding-bottom: 15px;
    max-width: 100%;
}

.list li:hover {
    z-index: 1;
}

@media only screen and (min-width: 1000px) {
    .list li {
        flex-basis: 50%;
        padding-right: 15px;
    }
}

.list a {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    display: flex;
    align-items: center;
    transform: translateY(0%);
    box-shadow: 0 0 0 0 rgb(0 0 0 / 56%);
    transition: all 0.1s ease-in-out;
    outline: 2px solid transparent;
}

@media (hover: hover) {
    .list a:hover,
    .list a:focus {
        filter: blur(0px) !important;
        outline: 2px solid #1980fc;
    }

    .list:hover a {
        filter: blur(3px);
    }

    .list a:active {
        transform: scale(0.99);
    }
}

.imageWrapper {
    width: 90px;
    height: 90px;
    padding: 20px;
}

.imageWrapper img {
    width: 50px;
}

.textWrapper {
    flex-basis: 100%;
    overflow: hidden;
    padding: 15px 15px 15px 0;
}

@media only screen and (min-width: 1000px) {
    .textWrapper {
        padding: 0;
    }
}

.name {
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.description {
    max-width: 90%;
    width: 360px;
    display: block;
    font-size: 14px;
    color: rgba(0 0 0 / 60%);
    word-wrap: break-word;
}

@media only screen and (min-width: 1000px) {
    .description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
