.stage {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 1400px;
    position: relative;
    overflow: hidden;
}

.stage.initializing * {
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding: 15px 15px 100px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

@media only screen and (min-width: 800px) {
    .inner {
        justify-content: space-between;
    }
}

.intro > * {
    transition: all 0.4s ease;
}

.initializing .intro > * {
    opacity: 0;
    transform: translateY(50px);
}

.intro > *:nth-child(1) {
    transition-delay: 0.2s;
}
.intro > *:nth-child(2) {
    transition-delay: 0.4s;
}
.intro > *:nth-child(3) {
    transition-delay: 0.6s;
}
.intro > *:nth-child(4) {
    transition-delay: 0.8s;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media only screen and (min-width: 800px) {
    .inner {
        flex-direction: row;
        padding: 30px 30px 250px 30px;
    }
}

.h1 {
    position: relative;
    font-family: Righteous;
    color: white;
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    opacity: 1;
    padding: 0 15px;
    text-align: center;
}

.h2 {
    font-family: Righteous;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 5px;
    margin-top: 30px;
}

@media only screen and (min-width: 800px) {
    .h2 {
        font-size: 12px;
        margin-top: 0;
    }
}

.description {
    margin-top: 20px;
}

@media only screen and (min-width: 800px) {
    .description {
        margin-top: 30px;
    }
}

.intro {
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .intro {
        width: auto;
        margin: 0 auto;
    }
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
}

.background img,
.background video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.phoneWrapper {
    width: 100px;
    height: 204.5px;
    transition: all 1s cubic-bezier(0.68, -0.67, 0.29, 2.19) 0.5s,
        border-radius 0s linear 0s,
        background-position 0.4s cubic-bezier(0.68, -0.37, 0.29, 2) 2s;
    transform: translate(0);
    flex-shrink: 0;
    position: relative;
    opacity: 1;
}

.phone {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    box-shadow: 20px 35px 50px -10px rgb(0 0 0 / 56%);
    border-radius: 17px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.initializing .phoneWrapper {
    opacity: 0;
    top: 100%;
    right: -50px;
    transform: scale(0.8) rotate(-5deg);
}

.initializing .phone {
    box-shadow: none;
}

.phone:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 1.2s;
    border-radius: 17px;
}

@media only screen and (min-width: 800px) {
    .phone:before {
        border-radius: 50px;
    }
}

.initializing .phone:before {
    opacity: 1;
}

.phone img {
    position: relative;
    transform-origin: right;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .phoneWrapper {
        width: 300px;
        height: 613.5px;
    }

    .phone {
        border-radius: 45px;
    }

    @media only screen and (max-height: 900px) {
        .phoneWrapper {
            width: 200px;
            height: 409px;
        }

        .phone {
            border-radius: 30px;
        }
    }

    .phone img {
        height: 100%;
        width: auto;
    }
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

@media only screen and (min-width: 800px) {
    .waves {
        bottom: -5vw;
    }
}

.waves svg {
    position: relative;
    display: block;
    width: calc(100%);
}

.availability {
    display: none;
    transition: all 0.3s ease 2s;
}

.initializing .availability {
    opacity: 0;
}

@media only screen and (min-width: 800px) {
    .availability {
        display: block;
    }
}
