.stage {
    width: 100%;
    min-height: 600px;
    max-height: 1400px;
    position: relative;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .stage {
        height: 100vh;
    }
}

.stage.initializing * {
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
}

.inner {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding: 15px 15px 100px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

@media only screen and (min-width: 800px) {
    .inner {
        justify-content: space-between;
        flex-direction: row;
        padding: 30px 30px 200px 30px;
        gap: 60px;
    }
}

.intro > * {
    transition: all 0.4s ease;
}

.initializing .intro > * {
    opacity: 0;
    transform: translateY(50px);
}

.intro > *:nth-child(1) {
    transition-delay: 0.2s;
}
.intro > *:nth-child(2) {
    transition-delay: 0.4s;
}
.intro > *:nth-child(3) {
    transition-delay: 0.6s;
}
.intro > *:nth-child(4) {
    transition-delay: 0.8s;
}

.logo {
    display: none;
    justify-content: center;
    margin-bottom: 30px;
}

@media only screen and (min-width: 800px) {
    .logo {
        display: flex;
    }
}

.h1 {
    position: relative;
    font-family: Righteous;
    color: white;
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    opacity: 1;
    padding: 0 15px;
    text-align: center;
}

.h2 {
    font-family: Righteous;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 5px;
}

@media only screen and (min-width: 800px) {
    .h2 {
        font-size: 12px;
        margin-top: 0;
    }
}

.description {
    max-width: 500px;
    margin: 100px auto 80px auto;
    opacity: 1;
}

@media only screen and (max-width: 799px) {
    .description {
        transition: none;
    }
}

@media only screen and (min-width: 800px) {
    .description {
        margin-top: 30px;
        opacity: 1;
    }
}

.intro {
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .intro {
        width: auto;
    }
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
}

.background img,
.background video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.phoneWrapper {
    width: 100px;
    height: 204.5px;
    transition: all 1s ease 0.5s;
    transform: translate(0);
    flex-shrink: 0;
    position: relative;
    opacity: 1;
    margin: 25vh 0 20px 0;
}

.initializing .phoneWrapper {
    opacity: 0.01;
    top: 100%;
    right: -50px;
    transform-origin: bottom center;
    transform: perspective(50px) rotate3d(1, 0, 0, 3deg)
        translate3d(0px, 100px, -50px);
}

.phone {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.initializing .phone {
    box-shadow: none;
}

.initializing .avatar {
    filter: brightness(0) hue-rotate(-40deg);
}

.avatar {
    filter: brightness(1) hue-rotate(-40deg);
    transition: all 0.4s ease 1.5s;
    overflow: hidden;
    border-radius: 20% 20% / 10% 10% 10% 10%;
    box-shadow: 20px 35px 50px -10px rgb(0 0 0 / 56%);
}

.phone img {
    position: relative;
    transform-origin: right;
    width: 100%;
}

.phoneWrapper .phone img {
    animation: 2s linear hue-full-rotate-animation infinite;
}

@media only screen and (min-width: 800px) {
    .phoneWrapper .phone img {
        animation: none;
    }

    .phoneWrapper:hover .phone img {
        animation: 1s linear hue-full-rotate-animation infinite !important;
    }
}

@keyframes hue-full-rotate-animation {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@media only screen and (min-width: 800px) {
    .phoneWrapper {
        margin: 40px 0;
        width: 300px;
        height: 613.5px;
    }

    @media only screen and (max-height: 1600px) {
        .phoneWrapper {
            width: 200px;
            height: 409px;
        }

        .phone {
            border-radius: 30px;
        }
    }

    .phone img {
        height: 100%;
        width: auto;
    }
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves:before {
    content: "";
    position: absolute;
    height: 10px;
    background-color: #fff;
    bottom: -5px;
    left: 0;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .waves {
        bottom: 0;
    }
}

.waves svg {
    position: relative;
    display: block;
    width: calc(100%);
}

.availability {
    display: none;
    transition: all 0.3s ease 2s;
}

.initializing .availability {
    opacity: 0;
}

@media only screen and (min-width: 800px) {
    .availability {
        display: block;
    }
}
