.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.inner {
    padding: 30px;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}

@media only screen and (min-width: 1000px) {
    .inner > div {
        display: flex;
    }

    .inner > h2 {
        display: none;
    }
}

.imageWrapper {
    flex-basis: 40%;
    flex-shrink: 0;
}
.imageWrapper img {
    width: 100%;
    border-radius: 5px;
}
.textWrapper {
    padding: 30px 0 0 0;
}

.textWrapper h2 {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .textWrapper h2 {
        display: block;
        margin-top: 0;
    }

    .imageRight {
        flex-direction: row-reverse;
    }

    .textWrapper {
        padding: 0 0 0 30px;
    }

    .imageRight .textWrapper {
        padding: 0 30px 0 0;
    }
}
