.wrapper {
}

.inner {
    position: relative;
}

@media only screen and (min-width: 1000px) {
    .inner > div {
        display: flex;
    }

    .inner > h2 {
        display: none;
    }

    .inner:before {
        content: "";
        position: absolute;
        left: 60%;
        top: 0;
        width: 800px;
        height: 800px;
        border-right: 15px solid var(--primary);
        border-radius: 50%;
        filter: blur(30px);
        -webkit-animation: spin 30s linear infinite;
        -moz-animation: spin 30s linear infinite;
        animation: spin 30s linear infinite;
    }

    .inner:after {
        content: "";
        position: absolute;
        left: 70%;
        top: 10%;
        width: 600px;
        height: 600px;
        border-right: 15px solid var(--yellow);
        border-radius: 50%;
        filter: blur(30px);
        -webkit-animation: spin 20s linear infinite;
        -moz-animation: spin 20s linear infinite;
        animation: spin 20s linear infinite;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.imageWrapper {
    flex-basis: 40%;
    flex-shrink: 0;
}
.imageWrapper img {
    width: 100%;
    border-radius: 5px;
}
.textWrapper {
    padding: 30px 0 0 0;
}

.textWrapper h2 {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .textWrapper h2 {
        display: block;
        margin-top: 0;
    }

    .imageRight {
        flex-direction: row-reverse;
    }

    .textWrapper {
        padding: 0 0 0 30px;
    }

    .imageRight .textWrapper {
        padding: 0 30px 0 0;
    }
}
