@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    height: -webkit-fill-available;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 300;
    min-width: 320px;
    min-height: 100%;
    min-height: -webkit-fill-available;
    color: var(--black);
    overflow-x: hidden;
    background-color: black;
}

.page {
    min-height: 100vh;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

b,
strong {
    font-weight: 600;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
