* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

html.wf-loading {
    color: transparent !important;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}
