@keyframes gradient-shift {
    0% {
        transform: translate(-60%, -10%);
        height: 120%;
    }
    100% {
        transform: translate(0%, -20%);
        height: 200%;
    }
}

@keyframes hue-rotate-animation {
    0% {
        filter: hue-rotate(20deg);
    }
    30% {
        filter: hue-rotate(-20deg);
    }
    100% {
        filter: hue-rotate(20deg);
    }
}
