.wrapper {
    --project-accent: var(--secondary);
}

.inner {
    margin: 0 auto;
    max-width: 1000px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.project {
    position: relative;
    flex-basis: 100%;
    max-width: 100%;
    border: 1px solid var(--grey-2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(0%);
    padding: 15px;
    cursor: pointer;
    outline: none !important;
    transition: padding 0.3s ease;
}

.project.show {
    filter: blur(0px);
    border: 1px solid var(--project-accent);
}

.project.hide {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .project.hide {
        display: flex;
        filter: blur(3px);
        opacity: 0.7;
        user-select: none;
        pointer-events: none;
        cursor: default;
    }
}

@media only screen and (min-width: 1000px) {
    .project {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .imageWrapper {
        display: block;
        flex-shrink: 0;
        width: 120px;
        padding-top: 15px;
    }
}

@media (hover: hover) {
    .project > * {
        position: relative;
    }

    .project:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 8px;
        bottom: 8px;
        right: 8px;
        background: linear-gradient(
            135deg,
            transparent 10%,
            var(--secondary-200) 120%
        );
        filter: blur(8px);
        transform: translate;
        transition: all 0.2s ease;
        opacity: 0;
    }
}

.project:hover {
    z-index: 1;
}

@media (hover: hover) {
    .project:hover,
    .project.open {
        padding: 2rem;
    }
}

.project:hover:before {
    opacity: 0.3;
}

.textWrapper {
    flex: 1;
}

.fromTo {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .fromTo {
        font-size: 13px;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(-1rem);
        position: absolute;
        top: 100%;
        opacity: 0;
        padding-top: 3px;
        display: block;
        background: -webkit-linear-gradient(
            45deg,
            var(--secondary) -40%,
            var(--primary) 120%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .project:not(.open):hover {
        padding-bottom: 3.5rem;
    }

    .project:not(.open):hover .fromTo {
        transform: translateY(0);
        opacity: 1;
    }
}

.name {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    transition: all 0.2s ease;
}

@media (hover: hover) {
    .project:hover .name,
    .project.open .name {
        background: -webkit-linear-gradient(
            45deg,
            var(--secondary) -40%,
            var(--primary) 120%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.description {
    font-size: 16px;
    opacity: 0.8;
}

.panelRight {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 1000px) {
    .panelRight {
        width: auto;
        height: 100%;
    }
}

.techLogos {
    display: flex;
    padding-left: 15px;
    align-items: center;
}
.techLogos img {
    height: 40px;
    width: 40px;
}
@media only screen and (min-width: 1000px) {
    .techLogos {
        margin-top: 0px;
    }
}
.moreTech {
    font-size: 16px;
    opacity: 0.5;
}

.imageWrapper {
    display: none;
}

.imageWrapper img {
    max-width: 100%;
}

.filterBar {
    display: flex;
    margin-bottom: 15px;
}

.filter {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border-radius: 5px;
    color: var(--project-accent);
    display: block;
    cursor: pointer;
    border: 2px solid transparent;
}

.filter.reset {
    transform: scale(2);
}

.filter:hover {
    color: var(--project-accent);
}

.filter.active {
    border: 2px solid var(--project-accent);
    color: var(--project-accent);
}

.initHide {
    display: none;
}

.companyLogoWrapper {
    display: none;
}
@media only screen and (min-width: 1000px) {
    .companyLogoWrapper {
        display: flex;
        justify-content: flex-end;
    }

    .companyLogoWrapper img {
        width: 150px;
        height: 150px;
        margin: -35px 0;
        overflow: hidden;
    }
}

.details {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

.details dt {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    width: 115px;
    opacity: 0.8;
    padding-right: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    padding-top: 3px;
}
.details dd {
    margin: 0;
    flex-basis: calc(100% - 115px);
    font-weight: 500;
    margin-bottom: 10px;
}
