.sun__block {
    --color-1: #b94619;
    --color-2: #e9632e;
    --color-3: #e98c2e;
    --color-4: #e9d92e;
    --color-5: #e9d92e;

    overflow: hidden;
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    pointer-events: none;
    transition: all 0.5s ease 6000ms; /* final fade-out */
}

.run .sun__block {
    opacity: 0;
}

.sun__wrapper {
    margin: 0 auto;

    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);

    width: 60px;
    height: 60px;
}

.run .sun__wrapper {
    transition: transform 2s cubic-bezier(0.6, 0, 0.15, 1) 3s,
        top 0.6s cubic-bezier(0.1, -0.21, 1, -0.53) 5s; /* rotation & fly up */
    transform: rotate(calc(360deg));
    top: -200px; /* fly up */
}

.sun__wrapper:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 200vh;
    background-color: var(--color-5);
    filter: brightness(1.2);
    opacity: 0;
    transition: all 0.5s ease 4.5s;
}

.run .sun__wrapper:before {
    opacity: 0.2;
}

.sun__wrapper:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 200vh;
    background-color: var(--color-5);
    filter: brightness(1.2);
    opacity: 0;
    transition: all 800ms linear 5500ms;
}

.run .sun__wrapper:after {
    opacity: 1;
    left: -50vw;
    right: -50vw;
    filter: brightness(10);
}

.sun {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 100%;
    overflow: hidden;
    counter-reset: part;
    transition: all 5s linear 4s;
}

.run .sun {
    box-shadow: 0 0 30px var(--color-4);
    filter: brightness(10);
}

.sun__part {
    position: absolute;
    height: 200%;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--color);
    transition: all calc((var(--index) + 1) * 600ms) ease
        calc((var(--index) + 1) * 600ms);
}

.run .sun__part {
    top: calc(var(--index) * (80% / 3));
}

.sun__part--1 {
    --index: 0;
    --color: var(--color-1);
}
.sun__part--2 {
    --index: 1;
    --color: var(--color-2);
}
.sun__part--3 {
    --index: 2;
    --color: var(--color-3);
}
.sun__part--4 {
    --index: 3;
    --color: var(--color-4);
}
