.wrapper {
}

.wrapper *:first-child {
    margin-top: 0;
}

.wrapper p {
    margin: 1em 0 0;
}

.wrapper h1,
.wrapper h2,
.wrapper h3 {
    margin: 15px 0 15px;
}

.wrapper h1 {
    font-size: 48px;
}

.wrapper h2 {
    font-size: 32px;
}

.wrapper h3 {
    font-size: 20px;
}

.wrapper a {
    display: inline-block;
    position: relative;
    color: #d02f82;
    font-family: Righteous;
}

.wrapper a:before {
    content: "";
    position: absolute;
    left: 50%;
    height: 0.5em;
    bottom: -0.1em;
    background-color: yellow;
    z-index: -1;
    width: 0;
    transition: all 0.2s ease-in-out;
    transform: translateX(-50%);
    border-radius: 3px;
}

.wrapper a:hover:before {
    width: 110%;
}

.wrapper ul {
    margin: 0;
}

.wrapper li {
    margin: 0.25em 0 0 0;
}
.wrapper li p {
    margin: 0;
}
