.footer {
    position: relative;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 30px 30px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    .inner {
        padding: 30px;
        max-width: 1000px;
    }
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background img,
.background video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.infoText {
    max-width: 600px;
}

.metaNav {
    position: relative;
    list-style: none;
    background-color: rgb(0 0 0 / 32%);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 50px 0 0;
    text-align: center;
}

.metaNav a {
    color: white;
    padding: 5px 15px;
    display: block;
    transition: all 0.2s ease;
    font-weight: bold;
    border-radius: 5px;
}

.metaNav a:hover {
    background-color: white;
    color: #c40180;
}

.waves {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves svg {
    position: relative;
    display: block;
    max-height: 500px;
}
