.window {
    background-color: var(--grey-5);
    color: white;
    border-radius: 5px;
    box-shadow: 20px 35px 50px -10px rgb(0 0 0 / 56%);
    padding: 40px 20px 20px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.window:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0 0 0 / 10%);
    height: 30px;
}

.windowInner {
    color: var(--grey-1);
    font-weight: normal;
    font-size: 11px;
    line-height: 1.8;
    counter-reset: line;
    letter-spacing: -0.2px;
    position: relative;
}

.lineNumbers {
    display: none !important;
}

@media only screen and (min-width: 800px) {
    .lineNumbers {
        display: block !important;
        position: absolute !important;
        left: 0;
        opacity: 0.6;
        padding: 0 !important;
        top: 0;
        bottom: 0.5em;
        overflow: hidden;
    }
}

@media only screen and (min-width: 800px) {
    .windowInner {
        margin: 10px;
        font-size: 14px;
        letter-spacing: 0px;
    }
}

.windowInner > * {
    display: block;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: var(--font-mono);
    white-space: pre-wrap;
}

@media only screen and (min-width: 800px) {
    .windowInner > * {
        padding-left: 2.5em;
        padding-right: 1em;
    }
}

.text ul > li {
    padding-left: 2em;
    position: relative;
}

.text ul > li:before {
    content: " - ";
    position: absolute;
    left: 0;
}

.text ol {
    list-style: decimal;
    padding-left: 2.5rem;
}

.actions {
    line-height: 0;
    position: absolute;
    top: 10px;
    left: 10px;
}

.actions > * {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

@media only screen and (hover: hover) {
    .actions > *:before {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        filter: blur(10px);
        transition: all 0.2s ease;
        opacity: 0;
    }

    .actions > *:hover:before {
        opacity: 1;
    }

    .actions > *:active {
        transform: scale(0.9);
        filter: brightness(0.8);
    }
}

.actions > *:nth-child(1),
.actions > *:nth-child(1):before {
    background-color: var(--red);
}

.actions > *:nth-child(2),
.actions > *:nth-child(2):before {
    background-color: var(--yellow);
}

.actions > *:nth-child(3),
.actions > *:nth-child(3):before {
    background-color: var(--green);
}

.windowInner em {
    background: -webkit-linear-gradient(
        45deg,
        var(--primary) -30%,
        var(--secondary) 110%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(2);
    font-weight: bold;
}
