.window {
    background-color: var(--grey-5);
    color: white;
    border-radius: 5px;
    box-shadow: 20px 35px 50px -10px rgb(0 0 0 / 56%);
    padding: 15px;
    max-width: 100%;
}

.windowInner {
    padding: 10px 0;
    color: var(--grey-1);
    font-weight: normal;
    font-size: 11px;
    line-height: 1.8;
    counter-reset: line;
}

@media only screen and (min-width: 800px) {
    .windowInner {
        font-size: 14px;
    }
}

.windowInner > * {
    display: block;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: var(--text-mono);
    white-space: pre-wrap;
}

@media only screen and (min-width: 800px) {
    .windowInner > * {
        padding-left: 2.5em;
        padding-right: 1em;
    }

    .windowInner > *:before {
        counter-increment: line;
        content: counter(line);
        display: block;
        position: absolute;
        left: 0.25em;
        opacity: 0.5;
    }
}

.actions {
}

.actions > * {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 6px;
}

@media only screen and (min-width: 800px) {
    .actions > * {
        width: 12px;
        height: 12px;
    }
}

.actions > *:nth-child(1) {
    background-color: var(--red);
}

.actions > *:nth-child(2) {
    background-color: var(--yellow);
}

.actions > *:nth-child(3) {
    background-color: var(--green);
}
