.wrapper {
}

.wrapper *:first-child {
    margin-top: 0;
}

.wrapper p {
    margin: 1em 0 0;
}

.wrapper h1,
.wrapper h2,
.wrapper h3 {
    margin: 15px 0 15px;
}

.wrapper h1 {
    font-size: 48px;
}

.wrapper h2 {
    font-size: 32px;
}

.wrapper h3 {
    font-size: 20px;
}

.wrapper a {
    display: inline-block;
    position: relative;
    color: #d02f82;
    font-family: Righteous;
}

.wrapper ul {
    margin: 0;
}

.wrapper li {
    margin: 0.25em 0 0 0;
}
.wrapper li p {
    margin: 0;
}

.darkBackground {
    color: white;
}

.darkBackground a {
    color: white;
}

.darkBackground a::before {
    content: none;
}
