.tooltip {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .tooltip {
        --fade-in: 0.15s;
        --color: white;
        --background-color: var(--black);

        display: block;
        position: absolute;
        background-color: var(--background-color);
        color: var(--color);
        padding: 0.5rem 1rem;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s var(--fade-in), opacity var(--fade-in) linear;
        box-shadow: 10px 16px 40px -5px rgb(0 0 0 / 76%);
        margin-bottom: 10px;
    }

    .container:hover .tooltip {
        visibility: visible;
        opacity: 1;
        transition: opacity var(--fade-in) linear;
    }

    .tooltip:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: var(--background-color) transparent transparent
            transparent;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }
}
