.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    width: 100%;
    padding: 50px 0;
}

.title {
    --invert: calc(1 - var(--progress));
    font-family: "Righteous";
    font-size: 50px;
    color: #fff;
    text-align: center;
    opacity: var(--progress);
    transform: translateY(calc(var(--invert) * -100px));
}

.description {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    opacity: var(--progress);
}

.detail {
    --offset: -1;
    --invert: calc(1 - var(--progress));

    font-family: "Vank";
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    will-change: transform, opacity;
    transform: translateX(calc(var(--offset) * 20vw))
        translateY(calc(var(--invert) * 50px));
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.detail:nth-child(2n) {
    --offset: 1;
}
