.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    pointer-events: none;
    counter-reset: count 0;
    width: 100%;
    height: 100vh;
}

@media (min-width: 768px) {
    .container {
        justify-content: center;
    }
}

.lineWrapper {
    --pos-invert: 1;
    height: var(--height);
    width: 100%;
    display: flex;
    align-items: center;
}

.lineWrapper:nth-child(2) {
    --pos-invert: -1;
}

.lineWrapper:nth-child(3) {
    --pos-invert: 2;
}

.lineWrapper:nth-child(4) {
    --pos-invert: -2;
}

.lineWrapper {
    font-family: "Vank";
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-size: 75px;
    font-weight: 500;
    line-height: 1;
    color: #ddd;
    text-align: center;
    height: 70px;
    opacity: 1;
    display: inline-block;
}

@media (min-width: 768px) {
    .lineWrapper {
        height: calc(85vh / var(--lines)) !important;
        font-size: calc(95vh / var(--lines));
        text-align: left;
        transform: 0px;
    }
}

.fadeIn .lineWrapper {
    transform: translateX(0px);
}

.scrollPhase .lineWrapper {
    transition-delay: 0s;
    transition-duration: calc(var(--progress));
    opacity: calc(1 - var(--progress) * 2);
    transform: translateX(calc(var(--progress) * 100px * var(--pos-invert)));
}

.text {
    white-space: nowrap;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1) 2s;
}

@media (min-width: 768px) {
    .text {
        transform: scale(0.6);
    }
}

.fadeIn .text {
    transform: scale(1);
}

.scrollPhase .text {
}

.progressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: var(--color);
    width: 0;
    animation: progress var(--duration) linear infinite;
    z-index: 100;
    transition: background-color 0.5s ease;
}

.paused {
    animation-play-state: paused;
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
