.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    pointer-events: none;
    counter-reset: count 0;
    width: 100%;
    height: 100vh;
}

@media (min-width: 768px) {
    .container {
        justify-content: flex-start;
    }
}

.lineWrapper {
    --pos-invert: 1;
    height: var(--height);
    width: 100%;
    display: flex;
    align-items: center;
}

.lineWrapper:nth-child(2) {
    --pos-invert: -1;
}

.lineWrapper:nth-child(3) {
    --pos-invert: 2;
}

.lineWrapper:nth-child(4) {
    --pos-invert: -2;
}

.lineWrapper {
    font-family: "Vank";
    font-size: 100px;
    font-weight: 800;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    height: 70px;
    opacity: 1;
    transform: translateX(calc(100vw * var(--pos-invert)));
    will-change: transform;
    display: inline-block;
    background-clip: text;
}

@media (min-width: 768px) {
    .lineWrapper {
        height: calc(100vh / var(--lines)) !important;
        font-size: calc(120vh / var(--lines));
        text-align: left;
        transform: 0px;
    }
}

.fadeIn .lineWrapper {
    transform: translateX(0px);
    transition-delay: calc(var(--delay) * 5);
}

.scrollPhase .lineWrapper {
    transition-delay: 0s;
    transition-duration: calc(var(--progress));
    opacity: calc(1 - var(--progress) * 2);
    transform: translateX(calc(var(--progress) * 100px * var(--pos-invert)));
}

.text {
    background: linear-gradient(
        var(--mouse-direction, 90deg),
        var(--primary) 0%,
        white 200%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(10) drop-shadow(0px 0px 0px var(--primary));
    transition: filter 0.01s linear calc(1.5s + var(--delay)),
        transform 0.5s cubic-bezier(0, 0, 0, 1) 2s;
}

@media (min-width: 768px) {
    .text {
        transform: scale(0.6);
    }
}

.fadeIn .text {
    filter: brightness(1.5) drop-shadow(0px 0px 10px var(--primary));
    transform: scale(1);
}

.scrollPhase .text {
    transition-delay: 0s;
}
