.container {
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    width: 100%;
}

.logo {
    overflow: hidden;
    margin-bottom: 40px;
}

.logo svg {
    --custom-progress: clamp(0, calc(var(--progress) * 2), 1);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    opacity: var(--custom-progress);
    transform: scale(calc(0.2 + var(--custom-progress) * 0.8))
        rotate(calc((1 - var(--custom-progress)) * 360deg));
    filter: blur(calc((1 - var(--custom-progress)) * 10px));
}

.title {
    text-align: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    opacity: var(--progress);
}

.titleInner {
    font-family: "Righteous";
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    display: block;
    overflow: hidden;
}

.titleInner span {
    --custom-progress: clamp(0, calc(var(--progress) * 1.5) - 0.2, 1);
    --invert: calc(1 - var(--custom-progress));
    display: block;
    transform: translateY(calc(var(--invert) * 100%));
}

.separator {
    width: min(calc(var(--progress, 1) * 90vw), 360px);
    margin: 15px auto;
    height: 1px;
    background: white;
    border: none;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
    z-index: 1;
    position: relative;
}

.titleSub {
    font-family: "Righteous";
    font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
}

.titleSub span {
    display: block;
    transform: translateY(calc((1 - var(--progress)) * -200%));
}

.description {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    opacity: var(--progress);
}

.detail {
    --invert: calc(1 - var(--progress));
    font-family: "JetBrains Mono";
    line-height: 1.4;
    color: #fff;
    text-align: center;
    max-width: 300px;
    position: relative;
}

@media (min-width: 768px) {
    .detail:nth-child(2n) {
        transform: translateX(-20vw);
    }
    .detail:nth-child(2n + 1) {
        transform: translateX(20vw);
    }
}

.detail .separator {
    margin: 10px auto;
    width: calc(var(--progress, 0) * 150px);
    opacity: var(--progress);
}

.detailTitle {
    font-size: 20px;
    display: block;
    font-weight: bold;
    overflow: hidden;
    opacity: var(--progress);
}

.detailTitle span {
    --custom-progress: clamp(0, calc(var(--progress) * 2) - 0.2, 1);
    --invert: calc(1 - var(--custom-progress));
    display: block;
    transform: translateY(calc(var(--invert) * 100%));
}

.detailLabel {
    font-size: 14px;
    text-align: center;
    height: 1em;
    overflow: visible;
}
